@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #202124;
  --foreground: hsl(0 0% 98%);
  --card: #191919;
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 7% 8%);
  --popover-foreground: hsl(0 0% 95%);

  --navbar: oklch(0.22 0 0);

  --primary: hsl(346.8 77.2% 49.8%);
  --primary-foreground: hsl(355.7 100% 97.3%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(12 6.5% 15.1%);
  --accent-foreground: hsl(0 0% 95%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 95%);
  --border: hsl(218 12.42% 30%);
  --input: #363636;
  --ring: hsl(0, 0%, 3%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --radius: 0.6rem;

  --quality-3: oklch(0.75 0.35 230);
  --quality-4: oklch(0.7 0.35 300);
  --quality-5: oklch(0.85 0.3 90);

  --sidebar-background: hsl(0 0% 11%);
  --header-background: hsl(240 7% 8%);
  --gradient-middle: hsl(346.8 50% 74.9%);
  --gradient-middle-hex: #f0a6c1;
}

@theme inline {
  --color-navbar: var(--navbar);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-quality-3: var(--quality-3);
  --color-quality-4: var(--quality-4);
  --color-quality-5: var(--quality-5);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar-background: var(--sidebar-background);
  --color-header-background: var(--header-background);
  --transition-speed: 600ms;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.overlay-no-pull-found {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: auto;
}

.bg-pattern-stripped {
  background: repeating-linear-gradient(
    145deg,
    var(--background),
    var(--background) 5px,
    var(--card) 5px,
    var(--card) 10px
  );
}

.link {
  @apply text-primary font-bold underline;
}

.link:hover {
  @apply text-primary/90;
}
