@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image: radial-gradient(
          at 50% 0%,
          rgba(14, 165, 233, 0.18) 0px,
          transparent 75%
      ),
      radial-gradient(
          at 100% 0%,
          rgba(99, 102, 241, 0.18) 0px,
          transparent 50%
      ) !important;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@layer base {
    :root {
        --background: 220.9 39.3% 11%;
        --foreground: 210 40% 98%;

        --card: 215 16.9% 27.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --radius: 0.5rem;
    }
}


@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
