@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: radial-gradient(
            at 0% 0%,
            rgba(59, 130, 246, 0.33) 0px,
            transparent 50%
        ),
        radial-gradient(at 98% 1%, rgba(181, 44, 85, 0.33) 0px, transparent 50%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* Total width of scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 7px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer base {
    :root {
        --background:213.3 16.1% 28%;
        --foreground: 0 0% 96%;

        --card: 214 13% 18%;
        --card-foreground: 0 0% 96%;

        --popover: 213.3 16.1% 28%;

        --popover-foreground: 210 40% 98%;

        --primary: 72 100% 50%;
        /* --primary: 0 0% 17%; */
        --primary-foreground: 0 0% 0%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 72 100% 50%;
        --accent-foreground: 0 0% 0%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 0 0% 14%;
        --input: 214 13% 18%;
        --ring: 212.7 26.8% 83.9%;

        --radius: 0.5rem;

        --token-5b9c8610-70d7-4211-b68f-b88f529f6ced: rgb(22, 22, 22);
        --token-54806cb2-05fb-4f34-b6e6-70551a794db0: rgb(20, 20, 20);
        /* --token-5b9c8610-70d7-4211-b68f-b88f529f6ced: rgb(28, 28, 28);
        --token-54806cb2-05fb-4f34-b6e6-70551a794db0: rgb(26, 26, 26); */
    }
}

body {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
        135deg,
        var(--token-5b9c8610-70d7-4211-b68f-b88f529f6ced, rgb(248, 248, 248)),
        var(--token-5b9c8610-70d7-4211-b68f-b88f529f6ced, rgb(248, 248, 248))
            2.5px,
        var(--token-54806cb2-05fb-4f34-b6e6-70551a794db0, rgb(242, 242, 242))
            2.5px,
        var(--token-54806cb2-05fb-4f34-b6e6-70551a794db0, rgb(242, 242, 242))
            10px
    );
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
