@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: radial-gradient(
            at 0% 0%,
            rgba(59, 130, 246, 0.33) 0px,
            transparent 50%
        ),
        radial-gradient(at 98% 1%, rgba(181, 44, 85, 0.33) 0px, transparent 50%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* Total width of scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 7px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer base {
    :root {
        --background: 220 19% 27%;
        --foreground: 0 0% 96%;

        --card: 213.3 16.1% 28%;
        --card-foreground: 0 0% 96%;

        --popover: 0 0% 30.3%;

        --popover-foreground: 210 40% 98%;

        --primary: 0 0% 96%;
        --primary-foreground: 0 0% 0%;

        --secondary: 213.3 16.1% 28%;
        --secondary-foreground: 0 0% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 0 0% 96%;
        --accent-foreground: 0 0% 0%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 0 0% 96%;
        --input: 0 0% 96%;
        --ring: 212.7 26.8% 83.9%;

        --radius: 0.5rem;

        --token-5b9c8610-70d7-4211-b68f-b88f529f6ced: rgb(22, 22, 22);
        --token-54806cb2-05fb-4f34-b6e6-70551a794db0: rgb(3, 22, 3);
    }
}

body {
    background-color: #000 !important;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/bg4.jpg) center/cover no-repeat fixed;
}

@media (max-width: 767px) {
    body {
        background-attachment: scroll;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.bg-star-4 {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(173, 118, 176, 0.55) 20%,
        rgba(0, 0, 0, 0) 100%
    );
}

.bg-star-5 {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(185, 129, 46, 0.55) 20%,
        rgba(0, 0, 0, 0) 100%
    );
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.5);
}

.bg-theme-glassy {
    background-color: rgba(55, 65, 81, 0.7);
}

.bg-theme-number {
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-theme-modal {
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-theme-glassy-dark {
    background-image: linear-gradient(to bottom, #1b2a3c, #0d192b);
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
}

.text-glow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff,
        0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
}

.toast-success {
    background-color: hsl(150, 100%, 6%);
    border: 1px solid hsl(147, 100%, 12%);
    color: hsl(150, 86%, 65%);
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
