@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 227 18% 10%;
        --foreground: 0 0% 100%;
        --card: 227 14% 13%;
        --card-foreground: 0 0% 100%;
        --card-light: 227 18% 9%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 100%;
        --primary: 337 100% 51%;
        --primary-foreground: 0 0% 100%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 337 100% 51%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 218 12.42% 30%;
        --input: 240 3.7% 15.9%;
        --ring: 0 0% 100%;

        --quality-3: 195 80% 65%;
        --quality-4: 292 91.4% 72.5%;
        --quality-5: 47.9 95.8% 53.1%;

        --radius: 0.5rem;

        --chart-1: 192.8 44.1% 83.9%;
        --chart-2: 270.7 91% 65.1%;
        --chart-3: 45 100% 70%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .bg-checkerboard {
        background-image: linear-gradient(
                45deg,
                #000 25%,
                transparent 25%,
                transparent 75%,
                #000 75%,
                #000
            ),
            linear-gradient(
                45deg,
                #000 25%,
                transparent 25%,
                transparent 75%,
                #000 75%,
                #000
            );
        background-repeat: repeat;
        background-size: 15px 15px;
    }

    .bg-dotted {
        background-image: radial-gradient(
            circle,
            rgba(255, 255, 0, 0.05) 1px,
            transparent 1px
        );
        background-repeat: repeat;
        background-size: 20px 20px;
    }

    .bg-polka-dots {
        background-image: radial-gradient(circle, #313131 10%, transparent 10%);
        background-repeat: repeat;
        background-size: 20px 20px;
    }

    .bg-gradient-diagonal {
        background-image: repeating-linear-gradient(
            45deg,
            #3b82f6,
            #3b82f6 10px,
            #9333ea 10px,
            #9333ea 20px
        );
        background-size: cover;
    }

    .bg-concentric-circles {
        background-image: radial-gradient(circle, #9333ea 10%, transparent 10%),
            radial-gradient(circle, transparent 15%, #3b82f6 15%);
        background-repeat: repeat;
        background-size: 40px 40px;
    }
}

@keyframes pulseColor {
    0%,
    100% {
        color: hsl(73 98% 49%); /* First color */
    }
    50% {
        color: #f2d900; /* Second color */
    }
}

.pulsing-text {
    animation: pulseColor 4s infinite; /* Duration and loop */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: auto;
}

.bg-pattern-stripped {
    background: repeating-linear-gradient(
        145deg,
        hsl(var(--background)),
        hsl(var(--background)) 5px,
        hsl(var(--card)) 5px,
        hsl(var(--card)) 10px
    );
}

.bg-star4-collection {
    background-image: url(/images/backgrounds/bg-star4.webp);
    background-size: contain;
}

.bg-star5-collection {
    background-image: url(/images/backgrounds/bg-star5.webp);
    background-size: contain;
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
    background: hsl(var(--background));
    border-radius: 5px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: hsl(var(--accent));
    border-radius: 5px;
}

/* Style for the scrollbar corner (for both horizontal and vertical scrollbars) */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

/* Width of the vertical scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Height of the horizontal scrollbar */
::-webkit-scrollbar {
    height: 5px;
}


